##===================================
# English application
#===================================
#english postagger: collins(default)
ENGLISH_TAGGER_IMPL = collins

#english constituency parser: jiangming, muhua(default), cad, cad-mvt, lin, miguel, srnew
ENGLISH_CONPARSER_IMPL = muhua

#english dependency parser: arceager(default), arcstandard, choi, choibasic
# 							emnlp08, liu, morphparser, punct, uppsala
ENGLISH_DEPPARSER_IMPL = arceager

#english character-based dependency parser:	arceager(default), arcstandard, arcstandard-loc
#											arcstandardfilter
ENGLISH_POSDEPPARSER_IMPL = arceager

#english dependency labeler: naive(default)
ENGLISH_DEPLABELER_IMPL = naive

#english constituency to stanford arc: jiangming_convert(default)
ENGLISH_STANFORD_CONVERTER = jiangming_convert


#===================================
# Chinese application
#===================================
#chinese postagger: agenda(default), agenda_mvt,segmented
CHINESE_TAGGER_IMPL = agenda

#chinese segmentor: agenda(default)
SEGMENTOR_IMPL = agenda

#chinese constituency parser: acl13(default), jcad
CHINESE_CONPARSER_IMPL = acl13

#chinese dependency parser: arceager(default), arceager-mvt, arceager-mvt-origin
#							arcstandard, choi, choibasic, emnlp08, liu, uppsala
CHINESE_DEPPARSER_IMPL = arceager

#chinese character-based dependency parser:	jcad, jcadeager
CHINESE_POSDEPPARSER_IMPL = jcadeager

#chinese dependency labeler: naive(default)
CHINESE_DEPLABELER_IMPL = naive

#===================================
# Generic applicatin
#===================================
#generic postagger: collins(default)
TAGGER_IMPL = collins

#generic constituency parser: srnew(default)
CONPARSER_IMPL = srnew

#generic dependency parser: arceager(default)
DEPPARSER_IMPL = arceager

#generic dependency labeler: naive(default)
DEPPARSER_IMPL = naive

#generic ccg parser: srnew(default)
CCGPARSER_IMPL = srnew

#===================================
# Spanish application
#===================================
#spanish postagger: collins(default)
SPANISH_TAGGER_IMPL = collins

#spanish dependency parser: arceager(default)
SPANISH_DEPPARSER_IMPL = arceager

#spanish depedndency labeler: naive(default)
SPANISH_DEPLABELER_IMPL = naive


