#===================================
# English application
#===================================
#english postagger: collins(default)
ENGLISH_TAGGER = collins

#english constituency parser: jiangming, muhua(default), cad, cad-mvt, lin, miguel, srnew
ENGLISH_CONSTITUENCY_PARSER = jiangming

#english dependency parser: arceager(default), arcstandard, choi, choibasic
# 							emnlp08, liu, morphparser, punct, uppsala
ENGLISH_DEPENDENCY_PARSER = arceager

#english character-based dependency parser:	arceager(default), arcstandard, arcstandard-loc
#											arcstandardfilter
ENGLISH_POSDEPENDENCY_PARSER = arceager

#english dependency labeler: naive(default)
ENGLISH_DEPENDENCY_LABELER = naive

#english constituency to stanford arc: stanford_arc(default)
ENGLISH_STANFORD_CONVERTER = stanford_arc


#===================================
# Chinese application
#===================================
#chinese postagger: agenda(default), agenda_mvt,segmented
CHINESE_TAGGER = agenda

#chinese segmentor: agenda(default)
CHINESE_SEGMENTOR = agenda

#chinese constituency parser: acl13(default), jcad
CHINESE_CONSTITUENCY_PARSER = acl13

#chinese dependency parser: arceager(default), arceager-mvt, arceager-mvt-origin
#							arcstandard, choi, choibasic, emnlp08, liu, uppsala
CHINESE_DEPENDENCY_PARSER = arceager

#chinese character-based dependency parser:	jcad, jcadeager
CHINESE_POSDEPENDENCY_PARSER = jcadeager

#chinese dependency labeler: naive(default)
CHINESE_DEPENDENCY_LABELER = naive

#===================================
# Generic applicatin
#===================================
#generic postagger: collins(default)
GENERIC_TAGGER = collins

#generic constituency parser: srnew(default)
GENERIC_CONSTITUENCY_PARSER = srnew

#generic dependency parser: arceager(default)
GENERIC_DEPENDENCY_PARSER = arceager

#generic dependency labeler: naive(default)
GENERIC_DEPENDENCY_LABELER = naive

#generic ccg parser: srnew(default)
GENERIC_CCG_PARSER = srnew

#===================================
# Spanish application
#===================================
#spanish postagger: collins(default)
SPANISH_TAGGER = collins

#spanish dependency parser: arceager(default)
SPANISH_DEPENDENCY_PARSER = arceager

#spanish depedndency labeler: naive(default)
SPANISH_DEPENDENCY_LABELER = naive

